.home {
    height: 70vh;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    vertical-align: top;
}


.searchbox {
    background-color: #ffffff;
    color: #ffffff;
    border: 1px solid black;
    font-family: 'IBM Plex Mono', monospace;
    /* border-radius: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #0000;
    font-size: 30px;
    outline: none;
    border: none;
    transition: 0.9s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(255, 255, 255);
    vertical-align: top;
}

/* .search-box-container {
    display: grid;
    height: 100%;
} */


.search-box a .bs {
    color: #282828;
    font-size: 18px;
}




.header {
    margin-top: 30px;
    margin-left: 22px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}


.mainPageContent {
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;
}

.pageContentItem  {
    display: flex;
    /* border-top: 1px solid rgb(220, 139, 58); */
    padding-top: 15px;
    width: 80vw;
    align-items: center;
}

.albumImg {
    width: 90px;
    height: auto;
}


.pageContentImage {
    width: 175px;
    padding: 10px;
    border-radius: 10%;
    margin-top: 10px;
}

.songTitle {
    font-size: 15px;
    margin-left: 10px;
    max-width: 100px;
}

.artistName {
    margin-left: 10px;
    font-size: 12.5px;
}



/* @media only screen and (min-width: 595px)  {
    .mainPageContent {
        flex-wrap: nowrap;
        overflow-x: auto;

    }

    .pageContentItem {
        flex: 0 0 auto;
    }

    .container {
        padding-left: 250px;
    }

    .searchResults {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    input {
        margin-left: 250px;
    }

    
} */

/* ask taz about the scroll left side cutting off */
/* overlapping components (music controller and sidebar) */


