.Library {
    height: 70vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

input {
    background-color: #c1c1c1;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    width: 330px;
    margin-bottom: 25px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 20px;
}

.header {
    margin-top: 30px;
    margin-left: 22px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}


.mainPageContent {
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;
}


.pageContentImage {
    width: 175px;
    padding: 10px;
    border-radius: 10%;
    margin-top: 10px;
}

.songTitle {
    font-size: 15px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    max-width: 100px;
}

.artistName {
    margin-left: 10px;
    font-size: 12.5px;
    font-family: 'Montserrat', sans-serif;
}



@media only screen and (min-width: 595px)  {
    .mainPageContent {
        flex-wrap: nowrap;
        overflow-x: auto;

    }

    .pageContentItem {
        flex: 0 0 auto;
    }

    .container {
        padding-left: 250px;
    }

    .searchResults {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    input {
        margin-left: 250px;
    }

    
}

/* ask taz about the scroll left side cutting off */
/* overlapping components (music controller and sidebar) */


