

body {
font-family: 'IBM Plex Mono', monospace;
}


.sn_container {
    background-color: #282828;
    color: white;
    width: 70vw;
    display: flex;
justify-content: center;
align-items: center;
}


.NavButtons {
    color: white;
}