
.SearchResults {
    min-height: 723px;
    transition: height 0.66s ease-out;
}


.SearchResult {
    margin-top: 0px;
    margin-left: 20px;
    color: white;
    display: flex;
    background-color: #161616;

}

.pageContentItem {
    display: flex;
    flex-direction: row;
    vertical-align: top;
    min-height: 82.6px;
    max-height: 100px;
}

.songinfo {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(255, 255, 255);

}

.heart {
    background-color: #161616;
    width: auto;
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    transition: .3s;
}

.heart-red {
    background-color: #161616;
    width: auto;
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(255, 105, 105);
    transition: .3s;
}



.heart:hover {
    color: rgb(255, 105, 105);
}


.artist {
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    color: #ffff;

}


img {
    height: 60px;
    width: 60px;
}

/* @media only screen and (min-width: 595px)  {

    .SearchResult {
        margin-left: 250px;
    }
    
} */
