
.SearchResults {
    min-height: 723px;
    transition: height 0.66s ease-out;
}


.SearchResult {
    margin-top: 0px;
    margin-left: 20px;
    color: white;
    display: flex;
    max-height: auto;
}

.pageContentItem {
    display: flex;
    flex-direction: row;
    vertical-align: top;
    min-height: 82.6px;
    max-height: 100px;
}

.songinfo {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(255, 255, 255);

}

.artist {
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    color: #ffff;

}

.albumImg {
    cursor: pointer;
}

.title {
    cursor: pointer;
}

i {
    transition: 0.25s;
}

i:hover {
    color: red;
}

img {
    height: 60px;
    width: 60px;
}

/* @media only screen and (min-width: 595px)  {

    .SearchResult {
        margin-left: 250px;
    }
    
} */
