
.Sidenav {
    display: none;
    position: fixed;
    height: 100vh;
    width: 1rem;
    padding-left: 20px;
    padding-top: 20px;
    top: 0;
    left: 0;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 100;
}

.sn_container {
    display: none;
}

.sideNavButtons {
    font-size: 80px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    transition: ease 0.3s;
    background-color: transparent;
}

.BottomNav {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(60, 60, 60);
    line-height: 100px;
}

body {
font-family: 'Poppins', sans-serif;
}