



.Sidenav {
    position: fixed;
    height: 100vh;
    width: 13rem;
    padding-left: 20px;
    padding-top: 20px;
    top: 0;
    left: 0;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.sideNavButtons {
    font-size: 20px;
    text-decoration: none;
    transition: ease 0.3s;
    background-color: transparent;
}

.BottomNav {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(60, 60, 60);
    line-height: 100px;
}

body {
font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 595px)  {

    .sn_container {
        display: none;
    }
    
}