* {
  margin: 0;
  color: #ffffff;
}


body {
  display: flex;
  flex-wrap: wrap;
  background-color: #363636;
}

html {
  scroll-behavior: smooth;
}

.logoutButton {
  position: absolute;
  margin-top: 30px;
  margin-left: 250px;
}


::placeholder {
  color: white;
}

